.con{
    width:50%;
    margin: 3rem auto;
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 8px;
    text-align: center;
}
.btns{
    display: flex;
    width: 100%;
    justify-content:center;
    gap:1rem;
    margin-top: 1em;
}
.btns button{
    padding:0.5rem 1rem;
    border: 2px solid #ffffff;
    background-color:rgba(0, 0, 0, 0.511);
    color: #ffffff;
    border-radius: 8px;
}
.con img{
    width: 84%;
}
@media only screen and (max-width: 790px){
    .con{
        width:94%;
        padding: 0.5rem;
    }
    .con img{
        width:80%
    }
}
